<a href="https://colab.research.google.com/github/codingschool0711/python/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 변수
* 일반 프로그래밍 언어와는 다르게 변수를 선언하지 않음

```C
/* C 또는 Java  언어  */
int no = 10;
```

```python
no = 100
no = '홍길동'
```

* 변수명으로 영문자 대소문자, 숫자, _(밑줄문자)가 사용되며 대소문자는 구별함

no, no_studuent, Count 등

* 한 문장으로 여러 개의 변수에 값을 할당

```python
no, count = 10, 20   --> no = 10, count = 20이 할당됨
```

In [ ]:
no = 10
print(no)

10

In [ ]:
no = '홍길동'
print(no)

홍길동

* Python 언어에서는 다음과 같은 자료형을 제공함


> 정수형(int), 실수형(float), 문자열(str),  논리형(bool),

> 리스트(list), 튜플(tuple), 딕셔너리(dict), 집합(set)

---

* 해당 변수의 자료형을 조회하는 명령은 **type(변수)**이다.

In [ ]:
type(no)

str

In [ ]:
no_int = 100
no_float = 100.0
no_bool = True
print(type(no_int), type(no_float), type(no_bool))

<class 'int'> <class 'float'> <class 'bool'>

In [ ]:
no_list = [1,2,3,4]
no_tuple = (1,2,3,4)
no_dict = {'1':20, '2':40}
no_set = {2,3,5,6}
print(type(no_list), type(no_tuple), type(no_dict), type(no_set))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'set'>

* 자료형변환 : **자료형(변수 또는 상수)** 


``` python
no = 10
float(no)
```

In [ ]:
x, y = input("두 정수를 입력 : ").split()
print(x+y)

두 정수를 입력 : 10 20
1020